/* add home page styles here */

img {
    height: 5rem;
}

.wrapper-v {
    display: flex;
    flex-direction: column;
}

.wrapper-h {
    display: flex;
    flex-direction: row;
}

.game * {
    margin-left: 2rem;
    margin-right: 2rem;
}

button {
    margin: 1rem;
}

#game-stats {
    margin: 0;
    padding: 0;
}