/* add home page styles here */

img {
    height: 5rem;
}

.wrapper-v {
    display: flex;
    flex-direction: column;
}

.wrapper-h {
    display: flex;
    flex-direction: row;
}

.game img, span {
    margin-left: 2rem;
    margin-right: 2rem;
}

.hidden {
    display: none !important;
}

button {
    margin: 1rem 0;
}

#game-stats {
    margin: 0;
    padding: 0;
}

#user-selects {
    width: 1rem;
}

input {
    display: none;
}

input:checked + img {
    box-shadow: 2px 2px 10px 2px yellow;
    border-radius: 100%;
}

button, input + img:hover {
    cursor: pointer;
}

#stats-record, #stats-total {
    margin: 0;
}

#stats-resets {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}